<% page_title 'Home' %>

<h1>Home</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'Submit', '#', class: 'btn btn--primary' %>
<%= link_to 'Submit', '#', class: 'btn btn--secondary' %>
<%= link_to 'Submit', '#', class: 'btn btn--tertiary' %>
<%= link_to 'Submit', '#', class: 'btn btn--danger' %>
