.flashes {
}

.flash {
  text-align: center;
  padding: var(--spacing-md);
  margin: var(--spacing-md) 0;
  font-size: var(--text-sm);
  border-radius: var(--border-radius);
}

.flash--alert {
  background-color: var(--light-red-2);
  color: var(--red-5);
}

.flash--notice {
  background-color: var(--light-yellow-3);
  color: var(--yellow-5);
}
