.form-error {
  color: var(--error-color);
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.form-field {
  margin-bottom: var(--spacing-lg);

  & label {
    margin-bottom: var(--spacing-2xs);
  }
}

.form-field--with-errors {
  & input {
    border: 1px var(--error-color) solid;
  }
}

.form-field__error {
  color: var(--error-color);
  font-size: var(--text-sm);
}

.form-actions {
  margin-bottom: var(--spacing-lg);
}

.form-checkbox {
  display: flex;
  align-items: flex-start;

  & label {
    margin-left: var(--spacing-xs);
    margin-bottom: 0;
    font-weight: inherit;
  }

  & input {
    margin-top: var(--spacing-3xs);
  }
}

label {
  display: block;
  font-weight: 500;
  line-height: 1.2;
}

.label--plain {
  font-weight: inherit;
}

[type="text"],
[type="password"],
[type="search"],
[type="email"],
[type="number"],
[type="url"],
[type="tel"],
textarea,
select {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--text-md);
  padding: var(--spacing-xs) var(--spacing-sm);
  transition: all 0.2s ease-in-out;
  outline: 0;
  display: block;
  appearance: none;
  width: 100%;
}

input,
textarea,
select {
  font-family: var(--font-family);
}

textarea {
  height: auto;
  min-height: 100px;
  padding-top: 1rem !important;
}

[type="text"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="tel"]:focus,
[type="number"]:focus,
textarea:focus,
select:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  border-color: var(--indigo-1) !important;
}

.login-form,
.signup-form {
  margin: var(--spacing-2xl) auto;
  padding: var(--spacing-lg);
  max-width: 400px;
  background-color: var(--background-color-accent-1);
  border-radius: 12px;
}

.settings-form {
  margin-bottom: var(--spacing-3xl);
}
